* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page-wrapper{
    position: relative;
}

#header{
    position: fixed;
    top: 0;
    min-height: 75px;
    display: flex;
    justify-content:space-around;
    background-color: #eee;
    padding: 0px 20px;
    align-items: center;
}

.logo{
    width: 60vw;
}

.logo > img{
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav > ul{
    display: flex;
    width: 35vw;
    flex-direction: row;
    justify-content: space-around;
}

li{
    list-style-type: none;
    text-transform: capitalize;
}

a{
    text-decoration: none;
    color: black;
}

.container{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

#hero{
    display: flex;
    flex-direction: column;
    height: 200px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}

#hero > h2{
    margin-bottom: 20px;
    word-wrap: break-word;
}

input[type="email"]{
    max-width: 275px;
    width: 100%;
    padding: 5px;

}

input[type="submit"]{
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
}

.btn{
    padding: 0 20px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 2px;
}

#features{
    margin-top: 30px;
}

.grid{
    display: flex;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6vw;
    color: orange;
    box-sizing: border-box;
    margin: 0 2px 5px 2px;
}

.desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}

#pricing{
    margin-top: 10%;
    align-content: center;
}

.item{
    background-color: rgb(235, 226, 226);
    min-height: 150px;
    height: 350px;
    margin: 1.66%;
    width: 30%;
    text-align: center;
    padding-top: 2%;
    font-size: xx-large;
    border-radius: 20px;
}

#first{
    margin-top: 5%;
}

#get{
    background-color: yellow;
    text-transform: uppercase;
    width: 50%;
    height: 10%;
    border-color: rgba(10, 124, 54, 0.863);
    margin-top: 11%;
    font-size:x-large;
    font-weight: bold;
    border-radius: 5px;
}

#end{
    height: 250px;
    background-color: black;
    color: white;
}

#end > a{
    color: white;
    padding-left: 5%;
    margin-top: 10%;
}

#e_cont{
    margin: 5% 0 0 5%;
}

@media (max-width: 650px){
    .logo{
        margin-top: 15px;
        width: 100%;
        position:relative;
    }

    .logo > img{
        margin: 0 auto;
    }
    
    nav{
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 50px;
    }

    nav > ul{
        flex-direction: column;
    }

    #hero{
        margin-top: 120px;
    }
}

@media (max-width: 820px){
    .grid{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .item{
        height: 400px;
        width: 60%;
    }

    .item > #first{
        margin-top: 10%;
    }

    .icon{
        display: none;
    }
}
@media (max-width: 600px){
    #header{
        flex-wrap: wrap;
    }
}